<EditForm Model="@make" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label>Colour Name:</label>
        <div>
            <InputText class="form-control" @bind-Value="@make.Name" />
            <ValidationMessage For="@(() => make.Name)" />

        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">@ButtonText</button>
    <BackToList Target="makes" />
</EditForm>

@code {
    [Parameter] public Make make { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}