<EditForm Model="@model" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label>Model Name:</label>
        <div>
            <InputText class="form-control" @bind-Value="@model.Name" />
            <ValidationMessage For="@(() => model.Name)" />

        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">@ButtonText</button>
    <BackToList Target="models" />
</EditForm>

@code {
    [Parameter] public Model model { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}